@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #CBDBDC;
  --background-start-rgb: #314445;
  --background-end-rgb: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}
